<td><% if Tag.find_by_tag_value(plate.tag_value) %>
			<%= Resident.find(Tag.find_by_tag_value(plate.tag_value).resident_id).address if plate.tag_value %> </td>
		<% end %>
<td><%= plate.tag_value if plate.tag_value %> </td>

<td><%= plate.created_at.strftime("%F %H:%M:%S") if plate.created_at %> </td>
<td><% @acceso = case plate.antenna 
			 when 1 then "Entrada Caseta Norte"
			 when 2 then "Salida Caseta Norte"
			 when 3 then "Entrada Caseta Sur"
			 when 4 then "Salida Caseta Sur"
			 else "Sin Información"
		end %>
		<%= "#{@acceso}" %>
</td>

