<div class="container">
  <div class="row">
    <h3>Residentes</h3>
    <div>
      <table class="table">
        <thead>
          <th><h6>Dirección</h6></th>
          <th><h6>TAG</h6></th>
          <th><h6>Patente</h6></th>
          <th><h6>Fecha/Hora</h6></th>
          <th><h6>Acceso</h6></th>
        </thead>
        <tbody>
          <% @plates.each do |plate| %>
            <tr>
              <%= render plate %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>