<div class="container">
  <div class="row">
    <h3>Visitas</h3>
    <h4><%= link_to '+ Crear Nueva Visita', new_visitor_path %></h4>
    <div>
      <table class="table">
        <thead>
          <th><h6>Fecha/Hora</h6></th>
          <th><h6>Patente</h6></th>
          <th><h6>Acceso</h6></th>
          <th><h6>Se dirige a</h6></th>
          <th><h6>Autorizado por</h6></th>
        </thead>
        <tbody>
          <% @visitors.each do |visitor| %>
            <tr>
              <%= render visitor %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="apple_pagination">
      <%= will_paginate @visitors %>
    </div>
    
  </div>
</div>