<%= link_to("Volver a las visitas", {:action => 'index'}, :class => 'back-link') %>

<div class="visitor new">
	<h2>Crear Visita</h2>

	<%= form_for(:visitor, :url => {:action => 'create'}) do |f| %>
		<%= render(:partial => "form_new", :locals => {:f => f}) %>
		<div class="form-buttons">
			<%= submit_tag "Ingresar información de visita", :class => 'button-xs' %>
		</div>
	<% end %>
</div>