<% content_for :title do %>Info<% end %>
<h3>Sistema de ingreso Condominio Las Pircas</h3>
<p>
Sistema de ingreso Condominio Las Pircas
</p>
<% @comando = %x[ls /home/web/code/laspircas/public/plates | wc -l]%>
<p>Número de Imágenes: <%= @comando %></p>
