<% content_for :title do %>Info<% end %>
<h3>Sistema de ingreso Condominio Las Pircas</h3>
<p>
Sistema de ingreso Condominio Las Pircas
</p>


Falta: </br>
Agregar log de Residentes (plates)</br>
Terminar formulario de Visitas</br>
Agregar paginación</br>
Seed de Residentes (Tags, Dirección, etc)</br>


<!--
<p>
This web application was created with
<%= link_to('Rails Composer', 'http://railsapps.github.io/rails-composer/') %>
from the <%= link_to('RailsApps project', 'http://railsapps.github.io/') %>.
</p>
-->