<div class="container">
  <div class="row">
    <h3>Residentes</h3>
    <div class="column">
      <table class="table">
        <tbody>
          <% @residents.each do |resident| %>
            <tr>
              <%= render resident %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
    <div class="apple_pagination">
      <%= will_paginate @residents %>
    </div>
</div>