<h3>Residente</h3>
<p>Dirección: <%= @resident.address if @resident.address %></p>
<td>
	<tr>Tags Asociados:</tr></br>
	<% @tags = @resident.tags %>
  <% @tags.each do |tag| %>
            <tr>
              <%= tag.tag_value %></br>
            </tr>
  <% end %>
</td>