<p>Bienvenido <%= @email %>!</p>

<p>Usted puede confirmar su cuenta de email a través del siguiente link:</p>

<p><%= link_to 'Confirmar mi cuenta de email', confirmation_url(@resource, confirmation_token: @token) %></p>
